#wrapper{
    width: 1170px;
    margin: 0 auto;
}
img{
    width: 100%;
}
.logo{
    width: 20%;
    float: left;
}
.menu-item{
    width: 75%;
}
.menu-item ul{
    float: right;
    list-style: none;
}
.menu-area ul li {
 display: inline-block;
}

